<footer class="footer container-fluid">
    <div class="container extraSpace">
        <ul class="centerLinks socialIcons">
            <li style="display:inline-block">
                <a href="https://www.youtube.com/"><img src="/images/icons/youtube.png" alt="youtube.png"></a>
            </li>
            <li style="display:inline-block">
                <a href="https://twitter.com/"><img src="/images/icons/twitter.png" alt="twitter.png"></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.snapchat.com"><img src="/images/icons/snapchat.png" alt="snapchat.png"></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.instagram.com/"><img src="/images/icons/instagram.png" alt="instagram.png"></a>
            </li>
            <li style="display:inline-block">
                <a href="https://github.com/heavyburnin"><img src="/images/icons/github.png" alt="github.png"></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.linkedin.com/"><img src="/images/icons/linkedIn.png" alt="linkedIn.png"></a>
            </li>
            <li style="display:inline-block">
                <a href="/contact"><img src="/images/icons/email.png" alt="email.png"></a>
            </li>
        </ul>
        <p class="footerText subP">Email me with any suggestions,
        collaborations, or just to talk!<br>badandy608@gmail.com</p>
    </div>
    </footer>
<script src="/scripts/main.js"></script>
<script src="/scripts/nav.js"></script>

<script src="/includes/bootstrap.min.js"></script>
<script src="/includes/odometer.js"></script>
