<title>Andrew DeLong</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/css/page.css">
<link rel="stylesheet" href="/css/spacing.css">
<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/footer.css">

<link rel="stylesheet" href="/includes/bootstrap.min.css">
<link rel="stylesheet" href="includes/odometer-theme-default.css">

<script src="/includes/jquery.min.js"></script>
